  <h2><%= @cookies["cookiename"]%></h2>
  <p><%= @cookies["cookiedescription"]%> </p>
    <p><%= @cookies["cookieprice"]%> </p>


    <a href="/products"> Tillbaka </a>   

    <a href="/index"> Start </a>