
<form action="/logout" method="post">
    <label> Användarnamn <input type="text" name="customername"></label> 
    <label> Lösenord <input type="text" name="customerpass"></label>
    <input type="submit" value="Spara">  
</form>

