<h2> Ny produkt </h2>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>

<form action="/products" method="post">
    <label> Kaka <input type="text" name="cookiename"></label> 
    <label> Beskrivning <input type="text" name="cookiedescription"></label>
    <label> Pris <input type="text" name="cookieprice"></label>
    <input type="submit" value="Spara">  
</form>

<a href="/products" class="button"> Tillbaka </a>
